{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">Tandis  <br class="d-none d-md-inline">GICAEDEF</h1>
                        <p class="lead mb-4 text-muted">Avec TANDIS les produits agricole a porter de mains.</p>
                        <p class="lead mb-4 text-muted">Avoir access en permanance au poulet et au produits biologique ,contoles et a moindre prix, cela est desormais possible avec nous.</p>
                        <a href="#Savoir_plus" class="btn btn-tertiary me-3 animate-up-2">En Savoir Plus <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="{% static 'assets/img/agro/logo.png' %}" alt=""></div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md" id="Savoir_plus">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="{% static 'assets\img\agro\WhatsApp Image 2023-11-05 at 10.45.06.jpeg' %}" alt="Office Desk">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">Qui Somme Nous</h2>
                        <p class="lead">
                            Tandis est une societe de production de transformation , distribution et commercialisation des produits avicoles</p>
                        <p class="lead">Nous sommes ume entreprise qui compte revolutionner le secteur avicole africain et plus precisement camerounais . La cherte de la vie et en particulier celle des produits comme la volaille est l'element declencheur du projet ( Nous voulons faire rayonner l'activite avicole camerounaise qui connais de nos jour de nombreuses difficultes.)</p>
                        <a href="accounts/a-propos/" class="btn btn-tertiary me-3 animate-up-2">En Savoir Plus <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                        {% comment %} <img src="{% static 'assets/img/signature.svg' %}" alt="signature" class="mt-4" width="150"> {% endcomment %}
                    </div>
                    {% comment %} Tandis gicaedef {% endcomment %}
                </div>
            </div>
        </section>

        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2 class="h1 fw-light"><span class="fw-bold">Notre </span> Histoire</h2>
                    </div>
                </div>
                <div class="row justify-content-center mt-6">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div class="timeline timeline-one dark px-3 px-sm-0">
                                <!-- Timeline Item 1 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Nos Ambition</h3>
                                    <p>TANDIS GICAEDEF ambitionne devenir  le premier et le plus grand reseau de commercialisation des produits avicole au cameroun et dans tout ces sous region.</p>
                                </div>
                                <!-- Timeline Item 2 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Notre Equipe</h3>
                                    <img class="mt-2" src="{% static 'assets/img/agro/equipe.jpg' %}" alt="Themesberg workspace" width="300">
                                    <p> 
                                    </p>
                                </div>
                                <!-- Timeline Item 3 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Nos Locaux</h3>
                                    {% comment %} <img class="mt-2" src="{% static 'assets/img/office.png' %}" alt="Themesberg workspace" width="300"> {% endcomment %}
                                    <p>
                                        plus de renseignement sur leur localisation.
                                    </p>
                                </div>
                                {% comment %} <!-- Timeline Item 4 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Une Idee devenu un Buissness</h3>
                                    <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing
                                        single-page applications.
                                    </p>
                                    <img class="mt-2" src="{% static 'assets/img/signature.svg' %}" alt="signature" width="100">
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>


        <!-- End of section -->
        <section id="section"  id="phase" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row mb-5">
                            <div class="h1 mb-4 col-12 col-md-9 col-lg-8 text-center mx-auto">
                                <span class="">Nos Phases</span>
                            </div>
                        </div>
                        <div class="mb-5">
                            <table class="table-responsive">
                                <tbody><tr>
                                    <th scope="col" id="class">Phases</th>
                                    <th scope="col" id="teacher">Debut</th>
                                    <th scope="col" id="males">Fin</th>
                                    <th scope="col" id="males">Montant</th>
                                    <th scope="col" id="females">Statut</th>
                                </tr>
                                {% for phase in phases  %}
                                    <tr>
                                        <th scope="row"  >{{phase.nom_phases}}</th>
                                        <th scope="row" >{{phase.debut}}</th>
                                        <td headers="firstyear Bolter males">{{phase.fin}}</td>
                                        <td headers="firstyear Bolter females">{{phase.montant}}</td>
                                        <td headers="firstyear Bolter females" >
                                            {% if phase.statut %}
                                                <span class="text-success mb-0">En Cour</span>
                                            {% else %}
                                                <span class="text-danger mb-0">Termine</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        <div class="space"></div>

        {% include 'includes/cta-careers.html' %}
        <!-- Section -->
        <section class="section section-lg pt-0" id="section">
            <div class="container">
                <div class="row mb-5">
                    <div class="h1 mb-4 col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <span class="">Nos Chiffres</span>
                    </div>
                </div>
                
                <div class="row" id='users'>
                    <div class="col-md-4 col-lg-4 text-center" id="custom">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-user"></span>
                            </div>
                            <h3 class="h5">Utilisateur</h3>
                            <span class="counter display-3 text-gray d-block">{{user_count}}</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center" id="custom">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-money-check"></span>
                            </div>
                            <h3 class="h5">Objectif</h3>
                            <span class="counter display-3 text-gray d-block">{{objectifs}} frs</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center" id="custom">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-money-check"></span>
                            </div>
                            <h3 class="h5">Montant Investit</h3>
                            <span class="counter display-3 text-gray d-block">{{montants_investit}} frs</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center" id="custom">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-globe-europe"></span>
                            </div>
                            <h3 class="h5">Pays</h3>
                            <span class="counter display-3 text-gray d-block">{{pays}}</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->

        <section class="section section-lg up" id="section2">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <h2 class="h1 mb-4">Nos produits</h2>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.41.37.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.41.45.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.42.10.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.42.42.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.43.22.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.45.04.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                        </div>
                    </div>
                </div>
                
            </div>
        </section>


        <!-- Section -->
        <section class="section section-lg" id="section2" id="equipe">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <h2 class="h1 mb-4">Notre Equipe</h2>
                        <p class="lead">
                            Nous Somme une equipe jeunes et dynamique pres a relever tout les defis.
                        </p>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.42.26.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Joseph Garth</h3>
                                <span class="card-subtitle text-gray fw-normal">Fondateur</span>
                                <p class="card-text my-3">description du fondateur</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.42.26.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Joseph Garth</h3>
                                <span class="card-subtitle text-gray fw-normal">Fondateur</span>
                                <p class="card-text my-3">description du fondateur</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="{% static 'assets/img/agro/WhatsApp Image 2023-11-05 at 10.42.26.jpeg' %}" class="card-img-top rounded-top" alt="Joseph Portrait">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Joseph Garth</h3>
                                <span class="card-subtitle text-gray fw-normal">Fondateur</span>
                                <p class="card-text my-3">description du fondateur</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- End of section -->
    </main>

    {% endblock content %}

    {% block footer %}
    
        {% include 'includes/footer.html' %}
    
    {% endblock footer %}


