{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Modifier perssonne {{nom}}  {{prenom}}</h1>
                    </div>
                </div>
                
                <form method='POST' action="{% url 'update_personnel' %}">
                    {% csrf_token %}
                    <h2 class="h5 mb-4">modifier un Personnel</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Prénom</label>
                                <input class="form-control" id="first_name" type="text" placeholder="Entrez votre prénom" name='prenom' required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Nom</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Aussi votre nom" name='nom' required>
                                <input type="hidden" value={{identifiant}} name="identifiant">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" style="float: right;">modifier</button>
                </form>
                
            </div>
        </section>
    </main>
{% endblock content %}