{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>
        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <!-- Hero -->
        <section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Notification</h1>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="container-img" id="imgst"></div>
                    <div class="container mt-5">
                        <div class="alert alert-warning alert-dismissible fade show justify-content-center" style='text-align:center;' role="alert">
                          <strong>Error!</strong> une Erreur c'est produite.
                        </div>
                      </div>
                </div>
                
            </div>
        </section>
    </main>
{% endblock content %}