{% load static %}

<footer class="footer pt-6 pb-5 bg-primary text-white">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img class="navbar-brand-dark mb-4" height="35" id='logo-img' src="{% static 'assets/img/agro/logo.png' %}"
                  alt="Logo light">
              <p>Avec Tandis Les Produits Agricole a porter de mains.</p>
              <ul class="social-buttons mb-5 mb-lg-0">
                  <li>
                      <a href="#" aria-label="twitter social link"
                          class="icon-white me-2">
                          <span class="fab fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="icon-white me-2"
                          aria-label="facebook social link">
                          <span class="fab fa-facebook"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" aria-label="github social link" class="icon-white me-2">
                          <span class="fab fa-github"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="icon-white" aria-label="dribbble social link">
                          <span class="fab fa-dribbble"></span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-6 col-md-2 mb-5 mb-lg-0">
              <span class="h5">Tandis</span>
              <ul class="footer-links mt-2">
                  <li><a  href="/">Accueil</a></li>
                  <li><a  href="/accounts/mes-produit/">Produits</a></li>
                  <li><a href="#phase">Phases</a></li>
                  <li><a  href="/accounts/contact-us/">Contact</a></li>
                {% if request.user.is_authenticated %}
                <li><a  href="/accounts/">profil</a></li>

                  {% endif %}
              </ul>
          </div>
          <div class="col-6 col-md-2 mb-5 mb-lg-0">
              <span class="h5">Autre</span>
              <ul class="footer-links mt-2">
                {% if request.user.is_authenticated %}
                    <li><a href="/accounts/contacter/"
                        >Nous Contacter</a>
                    </li>
                    <li><a href="/">Cahier de charge </a></li>
                    <li><a href="/accounts/investissement/"
                        >Investir</a>
                  </li>
                {% endif %}
                  
                  
                    <li>
                        <a href="#equipe">Notre Equipe</a>
                  </li>
                    
              </ul>
          </div>
          <div class="col-12 col-md-4 mb-5 mb-lg-0">
              <span class="h5">Souscrire</span>
              <p class="text-muted font-small mt-2">Nous Suivre
              </p>
              <form action="#">
                  <div class="form-row mb-2">
                      <div class="col-12">
                          <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">addresse Email</label>
                          <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email"
                              aria-label="Subscribe form" id="exampleInputEmail3" required>
                      </div>
                      <div class="col-12 d-grid">
                          <button type="submit" class="btn btn-tertiary" data-loading-text="Sending">
                              <span>Souscrire</span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <hr class="bg-secondary my-3 my-lg-5">
      <div class="row">
          <div class="col mb-md-0">
              <a href="#" target="_blank" class="d-flex justify-content-center mb-3">
                  <img src="{% static 'assets/img/agro/logo.png' %}" height="30" id='logo-img' class="me-2" alt="TANDIS GICAEDEF">
                  <p class="text-white fw-bold footer-logo-text m-0" id="info-logo">Tandis</p>
              </a>
              <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                  <p class="fw-normal font-small mb-0">
                    &copy; tout droit reserver</p>
              </div>
          </div>
      </div>
  </div>
</footer>