{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}{% endblock header %}

{% block content %}

    <main>

        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" style='color: gray;' data-background="{% static 'assets/img/fonds.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Se connecter</h1>
                            </div>
                            <form method="post" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <span class="text-danger"> {{ error }} </span>
                                    {% endfor %}
                                {% endif %}
                                {% for field in form %}
                                <div class="form-group mb-4">
                                    <label for="email">{{ field.label }}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas {% if field.name == 'username' %} fa-user {% else %} fa-unlock-alt {% endif %}"></span>
                                        </span>
                                        {{ field }}
                                    </div>  
                                </div>
                                <span class="text-danger"> {{ field.errors }} </span>
                                {% endfor %}
                                <!-- End of Form -->
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div><a href="{% url 'password_reset' %}" class="small text-right">Mots de passe oublier?</a></div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Pas de Compte?
                                    <a href="{% url 'register' %}" class="fw-bold text-underline">Creer un Compte</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

 {% endblock content %}

 {% block footer %}{% endblock footer %}